.accessories{
    position: relative;
    margin-top: 60px;
}
.accessories__head{
    font-weight: 600;
    font-size: 22px;
    line-height: 31px;
    color: black;
}
.accessories__list{
    list-style-type: none;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr 175px;
    padding:0;
    margin:0;
}
.accessories__casesimage{
    margin-top: 10px;
}
.accessories__listItemfirst{
    grid-column: 1 / -1;
}
.accessories__listItemsecond{
    grid-column: 1 / -1;
}
.accessories__listItemfirst:before{
    content: "";
    position: absolute;
    top: 238px;
    left: 5px;
    width: 290px;
    height: 1px;
    background-color: #000000;
    opacity: 0.1;
}
.accessories____casesabout{
    word-wrap: break-word;
    margin-top: 45px;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: black;
}
.accessories__powerimage{
    margin-top: 28px;
}
.accessories__listItemsecond:before{
    content: "";
    position: absolute;
    top: 578px;
    left: 5px;
    width: 290px;
    height: 1px;
    background-color: #000000;
    opacity: 0.1;
}
.accessories____casesaboutleft{
    font-weight: 500;
    padding-right: 5px;
    margin-top: 20px;
    font-size: 12px;
    line-height: 17px;
    color: black;
}
.accessories____casesaboutleft:before{
    content: "";
    position: absolute;
    top: 702px;
    left: 0;
    width: 142px;
    height: 1px;
    background-color: #000000;
    opacity: 0.1;
}
.accessories____casesaboutleft:after{
    content: "";
    position: absolute;
    top: 702px;
    left: 0;
    width: 50px;
    height: 1px;
    background-color: #000000;
}
.accessories____casesaboutright{
    font-weight: 500;
    padding-left: 5px;
    margin-top: 20px;
    font-size: 12px;
    line-height: 17px;
    color: black;
}
.accessories____casesaboutright:before{
    content: "";
    position: absolute;
    top: 702px;
    left: 150px;
    width: 142px;
    height: 1px;
    background-color: #000000;
    opacity: 0.1;
}
.accessories____casesaboutright:after{
    content: "";
    position: absolute;
    top: 702px;
    left: 150px;
    width: 50px;
    height: 1px;
    background-color: #000000;
}