.head__navigator{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.head__mobileEldarado{
    margin-bottom: 4px;

}
.head__mobileMvideo{
    margin-top: 10px;
    margin-left: 10px;
}
.head__toggle {
    position: absolute;
    top: 0;
    right: 9px;
    z-index: 2;
    display: block;
    width: 32px;
    height: 32px;
    background-color: inherit;
    cursor: pointer;
    border: none;
  }
 .head__toggle::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 13px;
    width: 24px;
    height: 1px;
    background-color: #FFFFFF;
    box-shadow: 0 11px 0 0 #D70E2A, 0 18px 0 0 #D70E2A, 0 25px 0 0 #D70E2A;
 }