.recordvideo{
    position: relative;
    margin-top: 33px;
    font-weight: bold;
    @media (min-width: @tablet-width) {
        margin-top: 23px; 
    }
}
.recordvideo__head{
    font-size: 22px;
    line-height: 31px;
    color: #000000;
    @media (min-width: @tablet-width) {
        font-size: 30px;
        line-height: 40px;
    }
}
.recordvideo__present{
    margin-top:15px;
    margin-left: -15px;
    @media (min-width: @tablet-width) {
        display: none;
    }
}
.recordvideo__presenttablet{
    display: none;
    @media (min-width: @tablet-width) {
        position: absolute;
        top: 90px;
        display: block;
    }
}
.recordvideo__item{
    @media (min-width: @tablet-width) {
        display: flex;
        margin-top: 10px;
    }
}
.recordvideo__list{
    padding: 0;
    margin: 0;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    @media (min-width: @tablet-width) {
        padding-left: 360px;
    }
}
.recordvideo__logoquality{
    padding-left: 112px;
    @media (min-width: @tablet-width) {
        padding-left: 5px;
        margin-top: 80px;
    }
}
.recordvideo__quality{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    @media (min-width: @tablet-width) {
        width: 203px;
        font-weight: bold;
        padding-left: 46px;
    }
}
.recordvideo__stabilization{
    margin-top: 20px;
    padding-left: 112px;
    @media (min-width: @tablet-width) {
        padding-left: 5px;
        margin-top: 30px;
    }
}
.recordvideo__slow{
    margin-top: 16px;
    padding-left: 114px;
    @media (min-width: @tablet-width) {
        padding-left: 5px;
        margin-top: 75px;
    }
}