.service{
    position: relative;
}
.service__head:before{
    content: "";
    position: absolute;
    top: -21px;
    left: 0;
    width: 290px;
    height: 1px;
    background-color: #000000;
    opacity: 0.3;
}

.service__head{
    font-size: 22px;
    line-height: 31px;
    color: black;
}
.service__list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
.service____smartabout{
    position: relative;
    margin-left: 20px;
    margin-top: 7px;
    word-wrap: break-word;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: black;
}
.service____smartabout:before{
    content: "";
    position: absolute;
    top: 100px;
    left: -90px;
    width: 290px;
    height: 1px;
    background-color: #000000;
    opacity: 0.1;
}
.service__listitemfirst{
    display: flex;
    flex-direction: row;
}
.service__smartimage{
    margin-top: 13px;
    margin-left: 5px;
}
.service____healthabout{
    position: relative;
    width: 205px;
    word-wrap: break-word;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: black;
}
.service____healthabout:before{
    content: "";
    position: absolute;
    top: 97px;
    left: 0;
    width: 290px;
    height: 1px;
    background-color: #000000;
    opacity: 0.1;
}
.service__healthimage{
    margin-top: 15px;
    margin-left: 17px;
}
.service__listitemsecond{
    margin-top: 40px;
    display: flex;
    flex-direction: row-reverse;
}
.service__listitemthree{
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
.service__listitemthree:before{
    content: "";
    position: absolute;
    top: 107px;
    left: 0;
    width: 290px;
    height: 1px;
    background-color: #000000;
    opacity: 0.1;
}
.service____Bixbyabout{
    margin-top: 7px;
    margin-left: 18px;
    word-wrap: break-word;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: black;
}
.service__Bixbyimage{
    margin-top: 13px;
    margin-left: 7px;
}
.service__listitemfour{
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-direction: row-reverse;
}
.service__listitemfour:before{
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 290px;
    height: 1px;
    background-color: #000000;
    opacity: 0.1; 
}
.service____payabout{
    width: 205px;
    margin-top: 15px;
    word-wrap: break-word;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: black;
}
.service__payimage{
    margin-top: 10px;
    margin-left: 17px;
}
.service__listitemfive{
    position: relative;
    margin-top: 40px;
    display: flex;
}
.service__SmartThingsimage{
    margin-top: 13px;
    margin-left: 8px;
}
.service____SmartThingsabout{
    margin-left: 17px;
    margin-top: 18px;
    word-wrap: break-word;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: black;
}